header{
    background-color: white;
    height: 70px;
    width: 100%;
    border-bottom: 1px solid #CCCCCC;
    display: flex;
    align-items: center;
}
.logo-container{
    margin-left: 20px;
    width: 100px;
    height: 40px;
    background-image: url('../images/logo.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;    
}