body {
  margin: 0;
  padding: 0;
  color: #484848;
  font-size: 14px;
  font-family: "Circular", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
h3 {
  font-weight: 600;
  margin-bottom: 0;
}
h4 {
  font-weight: 400;
  font-size: 14px;
  margin-top: 0;
}
h2 {
  font-size: 16px;
}
