.filters{
    color: rgb(3, 0, 0);
    height: 70px;
    width: 100%;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    overflow: hidden;
    gap: 20px;
}
